// ESLint Docs: http://eslint.org/docs/rules/

{
  // https://eslint.org/docs/user-guide/configuring#specifying-parser
  "parser": "babel-eslint",

  // https://eslint.org/docs/user-guide/configuring#specifying-parser-options
	"parserOptions": {
    "ecmaFeatures": {
    }
  },

//  // https://eslint.org/docs/user-guide/configuring#specifying-environments
//  "env": {
//    "browser": false,                     // browser global variables
//    "node": false,                        // Node.js global variables and Node.js scoping
//  },

//  // https://eslint.org/docs/user-guide/configuring#specifying-globals
//  "globals": {
//    // e.g. "Vue": true
//  },

//  // https://eslint.org/docs/user-guide/configuring#configuring-plugins
//  "plugins": [
//    // e.g. "react" (must run `npm install eslint-plugin-react` first)
//  ],

//  // https://eslint.org/docs/user-guide/configuring#configuring-rules
//  // https://eslint.org/docs/rules/
//  "rules": {
//  },
 
}